<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/2115-27/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="2115-27" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>

