<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Malavika1113/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Malavika1113" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
